
*{
  margin: 0%;
  padding: 0%;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #1D1D1F;
  padding: 2rem;
}
 ul {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 10px;
  width: 350px;
}
 ul li {
  list-style: none;
}
ul li a{
  text-decoration: none;
    color: #fff;
}
.logo a {
  color: white;
  transition-duration: 1s;
}
.logo a:hover {
  color: rgb(240, 197, 6);
  transition-duration: 1s;
}
.habesh_kemise{
  margin-top: 1em;
}
a{
  width: 30%;
}
.habesh_kemise{
  display: grid;
  grid-template-columns: 25%;
  grid-template-rows: 25%;
  grid-gap: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}